/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
 */
* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.robot{
  height:75px;
  width:125px;
}


.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list li a {
  transition: all 0.3s ease 0s;
  color: black;
  text-decoration: none;
}

.navigation-list li a:hover,
a:hover {
  transition: all 0.3s ease 0s;
  text-decoration: underline;
  color: blue;
}

.navigation-list li a:visited,
#sample-code:visited{
  color: rgba(135, 131, 131, 0.636);
}

.main {
  font-size: 16px;
  color: #2b2b2b;
}

.navigation-list li a:active,
a:active {
  color: green;
}

.standard-label{
  text-align: center;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
}

h3,
h2,
h1 {
  font-weight: 900;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

input,
texture,
select,
.submit {
  font-family: system-ui;
}
.submit {
  /* overwrites browser defaults and reset the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: green;
  color: white;
  text-decoration: none;
  /* add spacing to button (this will be discussed more in depth later) */
  /* gives the button a bottom border with a width of 2px, a type of solid and color in RGBA format */
  border-bottom: 2px solid black;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  transition-duration: 0.2s;
  border-radius: 20px;
}

.submit:hover,
.submit:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.5;
  /* background-color: blue; */
  background-color: #00e600;
  color: white;
}

.profile,
.me-info {
  max-width: 700px;
  margin: 0 auto;
}

.code-examples-info {
  max-width: 700px;
  margin: 0 auto;
}

.contact-info {
  max-width: 700px;
  margin: 0 auto;
}

.Matt {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.home_page{
  max-width: 700px;
  margin: 0 auto;
}


.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile__text {
  flex: 1 1 100px;
}

.grid {
  display: grid;
  columns: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background: hsla(183, 62%, 45%, 1);
  padding: 20px;
  color:white;

  background: linear-gradient(
    135deg,
    hsla(183, 62%, 45%, 1) 0%,
    rgb(45, 55, 251) 100%
  );

}


.link_works{
  color:white;
}
.link_works:hover{
  color:red;
  text-decoration:none;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .Matt {
    float: left;
    width: 125px;
    margin-right: 40px;
    border-radius: 50%;
  }

  .home_page{
    max-width: 200px;
    margin: 0 auto;
  }

  .me-info{
    max-width:250px;
    margin:0 auto;
  }
  
  .robot{
    height:13%;
    width:13%;
  }

  a.navigation-list__item{    
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6
  }

  .contact-info{
    margin-left:50px;
  }
  
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    columns: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .robot{
    height:10%;
    width:10%;
  }
}
@media all and (max-width: 750px) {
  /* shared code7 */
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  h1 {
    font-size: 22px;
  }
}
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
.cloud-front,
.sun {
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.sun {
  animation-duration: 10s;
  animation-name: color-change;
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
